.flows.json.backup
[{"id":"a4f8fa29.4ac27","type":"tab","label":"Pagina Inicial","disabled":false,"info":""},{"id":"395ec104.b9e4a6","type":"mqtt-broker","z":"","name":"pluginroast","broker":"mqtt.pluginroast.com.br","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"pluginroast/node-red","birthQos":"0","birthPayload":"node_red_conectado!!!","closeTopic":"pluginroast/node-red","closeQos":"0","closePayload":"node_red_desconectando!!!","willTopic":"pluginroast/node-red","willQos":"0","willPayload":"node_red_desconexao_inesperada!!!"},{"id":"10c716d9.d295d9","type":"mqtt-broker","z":"","name":"ifes","broker":"mqtt.ib.cefetes.br","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"ifes/teste","birthQos":"0","birthPayload":"on conect","closeTopic":"ifes/teste","closeQos":"0","closePayload":"close conect","willTopic":"ifes/teste","willQos":"0","willPayload":"will conect"},{"id":"8a1e5274.264708","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bf34ab49.15cf98","type":"ui_tab","z":"","name":"Entrada","icon":"dashboard","disabled":false,"hidden":false},{"id":"aa0bc9d3.d60298","type":"ui_group","z":"","name":"Reles","tab":"715880b9.e5145","disp":true,"width":"6","collapse":false},{"id":"b61c26a6.16a17","type":"ui_group","z":"","name":"Sensores","tab":"bf34ab49.15cf98","disp":true,"width":"6","collapse":false},{"id":"715880b9.e5145","type":"ui_tab","z":"","name":"Saida","icon":"dashboard","disabled":false,"hidden":false},{"id":"ea4c6417.472de8","type":"mqtt in","z":"a4f8fa29.4ac27","name":"MQTT_sub","topic":"pluginroast/#","qos":"0","datatype":"auto","broker":"395ec104.b9e4a6","x":170,"y":420,"wires":[["eec83d82.892cb8","50d6116b.1e76c8"]]},{"id":"3c6fc018.0d42a","type":"mqtt out","z":"a4f8fa29.4ac27","name":"MQTT_pub","topic":"","qos":"0","retain":"","broker":"395ec104.b9e4a6","x":420,"y":270,"wires":[]},{"id":"50d6116b.1e76c8","type":"debug","z":"a4f8fa29.4ac27","name":"Debug_MQTT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":580,"y":390,"wires":[]},{"id":"9c21692.6a48e18","type":"ui_switch","z":"a4f8fa29.4ac27","name":"Rele01","label":"Rele01","tooltip":"","group":"aa0bc9d3.d60298","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"pluginroast/rele","style":"","onvalue":"OUT01_ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OUT01_OFF","offvalueType":"str","officon":"","offcolor":"","x":160,"y":170,"wires":[["3c6fc018.0d42a"]]},{"id":"e6f3c953.56ed88","type":"ui_switch","z":"a4f8fa29.4ac27","name":"Rele02","label":"Rele02","tooltip":"","group":"aa0bc9d3.d60298","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"pluginroast/rele","style":"","onvalue":"OUT02_ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OUT02_OFF","offvalueType":"str","officon":"","offcolor":"","x":160,"y":220,"wires":[["3c6fc018.0d42a"]]},{"id":"f9fe09b3.5caf9","type":"ui_switch","z":"a4f8fa29.4ac27","name":"Rele03","label":"Rele03","tooltip":"","group":"aa0bc9d3.d60298","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"pluginroast/rele","style":"","onvalue":"OUT03_ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OUT03_OFF","offvalueType":"str","officon":"","offcolor":"","x":160,"y":270,"wires":[["3c6fc018.0d42a"]]},{"id":"577dca5c.dc93bc","type":"ui_switch","z":"a4f8fa29.4ac27","name":"Rele04","label":"Rele04","tooltip":"","group":"aa0bc9d3.d60298","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"pluginroast/rele","style":"","onvalue":"OUT04_ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OUT04_OFF","offvalueType":"str","officon":"","offcolor":"","x":160,"y":320,"wires":[["3c6fc018.0d42a"]]},{"id":"3491acf0.20e5e4","type":"ui_switch","z":"a4f8fa29.4ac27","name":"Rele05","label":"Rele05","tooltip":"","group":"aa0bc9d3.d60298","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"pluginroast/rele","style":"","onvalue":"OUT05_ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OUT05_OFF","offvalueType":"str","officon":"","offcolor":"","x":160,"y":370,"wires":[["3c6fc018.0d42a"]]},{"id":"659716ef.fb2c48","type":"ui_text","z":"a4f8fa29.4ac27","group":"b61c26a6.16a17","order":4,"width":0,"height":0,"name":"","label":"Mensagens","format":"{{msg.topic}}","layout":"row-center","x":570,"y":440,"wires":[]},{"id":"2c6d1c54.f69e4c","type":"ui_gauge","z":"a4f8fa29.4ac27","name":"Voltímetro_sub","group":"b61c26a6.16a17","order":5,"width":0,"height":0,"gtype":"gage","title":"Tensão","label":"V","format":"{{msg.payload}}","min":0,"max":"140","colors":["#eff486","#00b500","#ca3838"],"seg1":"114","seg2":"132","x":580,"y":340,"wires":[]},{"id":"c8bd3d9f.9a0c6","type":"ui_text_input","z":"a4f8fa29.4ac27","name":"Valor","label":"Valor","tooltip":"pluginroast/voltimetro","group":"b61c26a6.16a17","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":"100","topic":"pluginroast/voltimetro","x":400,"y":210,"wires":[["3c6fc018.0d42a","5c687b2f.1a995c"]]},{"id":"5c687b2f.1a995c","type":"ui_slider","z":"a4f8fa29.4ac27","name":"Potenciometro","label":"Potenciometro","tooltip":"","group":"b61c26a6.16a17","order":5,"width":0,"height":0,"passthru":true,"outs":"all","topic":"pluginroast/voltimetro","min":0,"max":"140","step":1,"x":430,"y":120,"wires":[["c8bd3d9f.9a0c6"]]},{"id":"eec83d82.892cb8","type":"switch","z":"a4f8fa29.4ac27","name":"switch_sub","property":"topic","propertyType":"global","rules":[{"t":"eq","v":"pluginroast/voltimetro","vt":"msg"},{"t":"eq","v":"pluginroast/rele","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":420,"wires":[["2c6d1c54.f69e4c","50d6116b.1e76c8"],["659716ef.fb2c48"]]}]