flows.json
[{"id":"a4f8fa29.4ac27","type":"tab","label":"Pagina Inicial","disabled":false,"info":""},{"id":"395ec104.b9e4a6","type":"mqtt-broker","z":"","name":"pluginroast","broker":"mqtt.pluginroast.com.br","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"pluginroast/node-red","birthQos":"0","birthPayload":"node_red_conectado!!!","closeTopic":"pluginroast/node-red","closeQos":"0","closePayload":"node_red_desconectando!!!","willTopic":"pluginroast/node-red","willQos":"0","willPayload":"node_red_desconexao_inesperada!!!"},{"id":"10c716d9.d295d9","type":"mqtt-broker","z":"","name":"ifes","broker":"mqtt.ib.cefetes.br","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"ifes/teste","birthQos":"0","birthPayload":"on conect","closeTopic":"ifes/teste","closeQos":"0","closePayload":"close conect","willTopic":"ifes/teste","willQos":"0","willPayload":"will conect"},{"id":"8a1e5274.264708","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bf34ab49.15cf98","type":"ui_tab","z":"","name":"Entrada","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"aa0bc9d3.d60298","type":"ui_group","z":"","name":"Reles","tab":"715880b9.e5145","disp":true,"width":"6","collapse":false},{"id":"b61c26a6.16a17","type":"ui_group","z":"","name":"Tensão","tab":"bf34ab49.15cf98","disp":true,"width":"6","collapse":false},{"id":"715880b9.e5145","type":"ui_tab","z":"","name":"Saida","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"46cf068.fcf0a78","type":"ui_group","z":"","name":"Corrente","tab":"bf34ab49.15cf98","disp":true,"width":"6","collapse":false},{"id":"e7dbbb72.029f98","type":"ui_group","z":"","name":"Potencia","tab":"bf34ab49.15cf98","disp":true,"width":"6","collapse":false},{"id":"ea4c6417.472de8","type":"mqtt in","z":"a4f8fa29.4ac27","name":"MQTT_sub","topic":"pluginroast/#","qos":"0","datatype":"auto","broker":"395ec104.b9e4a6","x":70,"y":330,"wires":[["574d776e.c16ca"]]},{"id":"3c6fc018.0d42a","type":"mqtt out","z":"a4f8fa29.4ac27","name":"MQTT_pub","topic":"","qos":"1","retain":"false","broker":"395ec104.b9e4a6","x":290,"y":140,"wires":[]},{"id":"50d6116b.1e76c8","type":"debug","z":"a4f8fa29.4ac27","name":"Debug_MQTT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":306,"y":567,"wires":[]},{"id":"9c21692.6a48e18","type":"ui_switch","z":"a4f8fa29.4ac27","name":"Rele01","label":"Rele01","tooltip":"","group":"aa0bc9d3.d60298","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"pluginroast/rele","style":"","onvalue":"OUT01_ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OUT01_OFF","offvalueType":"str","officon":"","offcolor":"","x":80,"y":40,"wires":[["3c6fc018.0d42a"]]},{"id":"e6f3c953.56ed88","type":"ui_switch","z":"a4f8fa29.4ac27","name":"Rele02","label":"Rele02","tooltip":"","group":"aa0bc9d3.d60298","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"pluginroast/rele","style":"","onvalue":"OUT02_ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OUT02_OFF","offvalueType":"str","officon":"","offcolor":"","x":80,"y":90,"wires":[["3c6fc018.0d42a"]]},{"id":"f9fe09b3.5caf9","type":"ui_switch","z":"a4f8fa29.4ac27","name":"Rele03","label":"Rele03","tooltip":"","group":"aa0bc9d3.d60298","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"pluginroast/rele","style":"","onvalue":"OUT03_ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OUT03_OFF","offvalueType":"str","officon":"","offcolor":"","x":80,"y":140,"wires":[["3c6fc018.0d42a"]]},{"id":"577dca5c.dc93bc","type":"ui_switch","z":"a4f8fa29.4ac27","name":"Rele04","label":"Rele04","tooltip":"","group":"aa0bc9d3.d60298","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"pluginroast/rele","style":"","onvalue":"OUT04_ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OUT04_OFF","offvalueType":"str","officon":"","offcolor":"","x":80,"y":190,"wires":[["3c6fc018.0d42a"]]},{"id":"3491acf0.20e5e4","type":"ui_switch","z":"a4f8fa29.4ac27","name":"Rele05","label":"Rele05","tooltip":"","group":"aa0bc9d3.d60298","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"pluginroast/rele","style":"","onvalue":"OUT05_ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OUT05_OFF","offvalueType":"str","officon":"","offcolor":"","x":80,"y":240,"wires":[["3c6fc018.0d42a"]]},{"id":"2c6d1c54.f69e4c","type":"ui_gauge","z":"a4f8fa29.4ac27","name":"Voltímetro_sub","group":"b61c26a6.16a17","order":1,"width":0,"height":0,"gtype":"gage","title":"Tensão","label":"V","format":"{{msg.payload}}","min":0,"max":"140","colors":["#eff486","#00b500","#ca3838"],"seg1":"114","seg2":"132","x":540,"y":440,"wires":[]},{"id":"cef60377.6d3708","type":"ui_gauge","z":"a4f8fa29.4ac27","name":"Amperimetro_sub","group":"46cf068.fcf0a78","order":1,"width":0,"height":0,"gtype":"gage","title":"Corrente","label":"A","format":"{{msg.payload}}","min":0,"max":"30","colors":["#eff486","#00b500","#ca3838"],"seg1":"15","seg2":"20","x":550,"y":480,"wires":[]},{"id":"574d776e.c16ca","type":"switch","z":"a4f8fa29.4ac27","name":"Topicos_sub","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"pluginroast/voltimetro","vt":"str"},{"t":"eq","v":"pluginroast/amperimetro","vt":"str"},{"t":"eq","v":"pluginroast/potencia","vt":"str"},{"t":"eq","v":"pluginroast/home","vt":"str"}],"checkall":"true","repair":true,"outputs":4,"x":240,"y":330,"wires":[["50d6116b.1e76c8","2c6d1c54.f69e4c","970eb287.ff032","6680d970.e3f42"],["50d6116b.1e76c8","cef60377.6d3708","cc27bf6b.4e19d","eb4de80e.386cd8"],["50d6116b.1e76c8","51989e5.d4aac6","bf82b35b.e4d688","3f2396df.3dc07a"],["50d6116b.1e76c8"]]},{"id":"970eb287.ff032","type":"ui_chart","z":"a4f8fa29.4ac27","name":"Grafico(V)","group":"b61c26a6.16a17","order":2,"width":0,"height":0,"label":"Grafico(V)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"110","ymax":"140","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":520,"y":300,"wires":[[]]},{"id":"cc27bf6b.4e19d","type":"ui_chart","z":"a4f8fa29.4ac27","name":"Grafico(I)","group":"46cf068.fcf0a78","order":2,"width":0,"height":0,"label":"Grafico(I)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Corrente (A)","dot":false,"ymin":"0","ymax":"30","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":520,"y":340,"wires":[[]]},{"id":"6680d970.e3f42","type":"ui_text","z":"a4f8fa29.4ac27","group":"b61c26a6.16a17","order":2,"width":0,"height":0,"name":"Tensão_01","label":"Tensão 01: ","format":"{{msg.topic.substring(12)}}","layout":"row-center","x":530,"y":160,"wires":[]},{"id":"eb4de80e.386cd8","type":"ui_text","z":"a4f8fa29.4ac27","group":"46cf068.fcf0a78","order":2,"width":0,"height":0,"name":"Corrente_01","label":"Corrente 01: ","format":"{{msg.topic.substring(12)}}","layout":"row-center","x":530,"y":200,"wires":[]},{"id":"51989e5.d4aac6","type":"ui_text","z":"a4f8fa29.4ac27","group":"e7dbbb72.029f98","order":3,"width":0,"height":0,"name":"Potencia_01","label":"Potencia 01: ","format":"{{msg.topic.substring(12)}}","layout":"row-center","x":530,"y":240,"wires":[]},{"id":"bf82b35b.e4d688","type":"ui_chart","z":"a4f8fa29.4ac27","name":"Grafico(W)","group":"e7dbbb72.029f98","order":2,"width":0,"height":0,"label":"Grafico(W)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Potência (W)","dot":false,"ymin":"0","ymax":"6000","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":530,"y":380,"wires":[[]]},{"id":"3f2396df.3dc07a","type":"ui_gauge","z":"a4f8fa29.4ac27","name":"Watimetro_sub","group":"e7dbbb72.029f98","order":1,"width":0,"height":0,"gtype":"gage","title":"Potência","label":"A","format":"{{msg.payload}}","min":0,"max":"6000","colors":["#eff486","#00b500","#ca3838"],"seg1":"15","seg2":"20","x":540,"y":520,"wires":[]}]